@tailwind base;
@tailwind components;
@tailwind utilities;

.background{
    background-color:darkcyan;
    width: 100%;
    min-height: 100%;
}
.yellow{
    color: yellow;
}
.navBar{
    color: white;
    background-color: #303030;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.navBar__list{
    display: flex;
    justify-content: space-around;
}
.navBar__logo{
    display: flex;
}
.navBar__list--img{
    width: 28px;
    height: auto;
}
.navBar__list--carrito{
    width: 28px;
    height: auto;
}
.itemListContainer{
    text-align: center;
}
.itemListContainer__itemList{
    padding: 2.5rem;
}
.itemListContainer__itemList--item{
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 1.5rem;
}
.imgList{
    width: 150px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    margin-top: 1.5rem;
    display: inline;
    @media (min-width: 768px) {
        width: 200px;
    }
    @media (min-width: 1024px) {
        width: 300px;
    }
    @media (min-width: 1536px) {
        width: 450px;
    }
}
.imgDetail{
    width: 1000px;
    height: auto;
    background-color: white;
}
.cart__Items{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: whitesmoke;
    border-radius: 15px;
    margin: 1.5rem;
}
.cart__Items--img{
    width: 100px;
    height: auto;
    background-color: white;
    border-radius: 15px;
    margin-top: 1.5rem;
    display: inline;
    @media (min-width: 768px) {
        width: 150px;
    }
    @media (min-width: 1024px) {
        width: 200px;
    }
    @media (min-width: 1536px) {
        width: 250px;
    }
}
.btn{
    background-color: #303030;
    color: white;
    margin: 0.5rem;
    padding: 0.5rem;
    border-radius: 5px;
}